/*@import"./header";

$colors: (
    primary:#4567af
);

@function color($color-name){
    @return map-get($colors, $color-name);
}*/
@import"./_header.scss";
$colors: (
primary: #1A237E
);
@function color($color-name){
    @return map-get($colors, $color-name);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    }
.flex-parent{
    height: 100vh;
    background-color: color(primary);
    display: flex;
    flex-direction: row;
}
.flex-child{
    height: 90vh;
    background-color::#B2DFDB;
    margin: 1rem;
    flex-grow: 1;
    text-align: center;
    font-size: 40;
    font-family: 'Calligraffitti', cursive;
    align-items: center;
    justify-content: space-around;
    }
    .flex-child:hover {
        background-color: white;
        font-weight: bold;
    }
#flex-mommy:hover{
    background-color: white;
    font-weight: bold;
}

.flex-child{
    height: 90vh;
    background-color::#B2DFDB;
    margin: 1rem;
    flex-grow: 1;
    text-align: center;
    font-size: 40;
    font-family: 'Calligraffitti', cursive;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    }
    #flex-mommy{
        flex-grow: 1;
        justify-content: space-around;
        text-align: center;
        font-size: 40;
        font-family: 'Calligraffitti', cursive;
    }
    .flex-parent-2{
        height: 100vh;
        background-color: color(primary);
        background-image: url("MAN-2.webp");
        display: flex;
        flex-direction: row;
    }

    .flex-parent-2 > img{
        height: 100%;
        width: 100%
    }
    
    .flex-child-2 {
        height: 70vh;
        background-color:#B2DFDB ;
        margin-right: 90rem;
        flex-grow: 1;
        text-align: center;
        font-size: 35;
        font-family: 'Calligraffitti', cursive;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
        display:flex ;   
    }
    .flex-child-2:hover{
        background-color:white;
        font-weight: bold;
    }
    .flex-mommy-2 {
        display: flex;

    }
#NYC {
height: 70vh;
}
#SI{
height: 20vh;
}
#BR{
height: 20vh;
}
#MAN{
height: 20vh;
}
#MAN-2 {
    width: 97.75vw;
    font-size: 30vh;
    position: absolute;
   z-index: 1;
}
