/*@import"./header";

$colors: (
    primary:#4567af
);

@function color($color-name){
    @return map-get($colors, $color-name);
}*/

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    }
.flex-parent{
    height: 100vh;
    background-color: $colors;
    display: flex;
    /*flex-direction: column;*/
}
.flex-child{
    height: 90vh;
    background-color: red;
    margin: 1rem;
    flex-grow: 1;
    text-align: center;
    font-size: 40;
    }
#flex-mommy{
    
}
#NYC {
height: 11vh;
}
@import"./_header";
$colors: (
primary: #1A237E
);
@function color($color-name){
    @return map-get($colors, $color-name);
